@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "AlumniSansPinstripe", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewport {
  width: min(100vw, 120vh * (16 / 9));
  height: min(100vh, 100vw * (9 / 16));
  display: flex;
  flex-direction: column;
}